body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f9;
}
header {
    background: #ffffff;
    color: #ff0000;
    padding: 1rem 0;
    text-align: center;
}
main {
    padding: 2rem;
}
h1, h2 {
    color: #eeff00;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    margin-top: 2rem;
}
